<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>AutoPFS{{if .Title}}: {{.Title}}{{end}}</title>
    <script src="static/js/autopfs.js"></script>
    <link rel="stylesheet" href="static/css/autopfs.css?hash={{.CssHash}}"/>
</head>
<body>