<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>AutoPFS{{if .Title}}: {{.Title}}{{end}}</title>
    <script src="static/js/autopfs.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/autopfs.css?hash={{.CssHash}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
